#advanced_params:hover,
.block-like i:hover {
    color: #FF8D1B !important;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#advanced_params label {
    cursor: pointer;
}

.hide {
    display: hide;
}

.block-stars {
    float: left;
    display: inline-flex;
    flex-direction: row-reverse;
}

.block-stars i {
    margin: 0 2px;
}

.block-stars:hover i{
    color: rgb(8, 5, 79);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.block-stars>ul>li:hover ~ li>i{
    color: #FF8D1B !important;
}

.block-like i {
    color: white !important;
    text-shadow: 0 0 3px #000;
    margin: 0 7px;
}

.block-like, .block-stars{
    width: max-content;
}

/* Non wrappare gli anni */
#table-breakpoint tr>td:nth-child(3){
    white-space: nowrap;
}